name: Deploy to Firebase Hosting & Functions
on:
  push:
    branches:
      - main
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      # Setup Node.js
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18
          cache: 'npm'

      # Frontend Build
      - name: Install Frontend Dependencies
        run: npm install

      - name: Build Frontend
        run: npm run build

      # Backend (Functions) Build
      - name: Install Functions Dependencies
        run: cd functions && npm install

      - name: Build Functions
        run: cd functions && npm run build

      # Deploy
      - name: Deploy to Firebase
        uses: w9jds/firebase-action@master
        with:
          args: deploy --only functions,hosting
        env:
          # Assumes you have this secret set up in GitHub
          # If your secret has a different name, please update this line!
          GCP_SA_KEY: ${{ secrets.FIREBASE_SERVICE_ACCOUNT_COMITE_CCE }}
